@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
}
*:focus-visible,
*::after:focus-visible,
*::before:focus-visible {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}
body a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

.bg {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  filter: grayscale(100%);
}

.background_filter {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background-color: #000000;
  filter: opacity(75%);
  z-index: 2;
}

.button_box_container {
  margin: 20px 0 20px 0;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.button_box_container a {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #E3E3E3;
  padding: 10px 15px 10px 15px;
}

header {
  display: flex;
  gap: 10px;
  padding: 20px 150px 20px 150px;
}
header .header_left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 100px;
}
header .header_right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}
header .contact {
  display: flex;
  align-items: center;
}
header .contact .contact_text {
  display: flex;
  text-align: start;
  display: flex;
  flex-flow: column;
}
header .contact .contact_text .number {
  color: #DE2F09;
}
header .contact .contact_text a {
  color: black;
}

nav {
  background-color: #0D0D0D;
  display: flex;
  align-items: center;
  width: 100%;
}
nav a {
  color: white;
}
nav .nav_button {
  display: none;
}
nav .nav_container {
  width: 100%;
  display: flex;
  flex-flow: row;
}
nav .nav_left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 65%;
}
nav .nav_left .eshop_dropdown {
  display: block;
}
nav .nav_left .eshop_dropdown button {
  color: white;
  background-color: black;
  border: none;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}
nav .nav_left .reseni a {
  display: flex;
  background-color: #DE2F09;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 0 16px 0 16px;
  gap: 15px;
}
nav .nav_right {
  margin-left: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding-right: 51px;
}
nav .nav_right .heart {
  padding-right: 25px;
}
nav .nav_right .search_stylish input:focus + button {
  background-color: #707070;
}
nav .nav_right .search_stylish.focused {
  background-color: #707070;
}
nav .nav_right .search_stylish {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #292929;
  border: none;
}
nav .nav_right .search_stylish input {
  border: none;
  color: white;
  background-color: #292929;
  width: 100%;
}
nav .nav_right .search_stylish input::-moz-placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
nav .nav_right .search_stylish input::placeholder {
  color: white;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
nav .nav_right .search_stylish input:focus-visible {
  border: none;
  outline: none;
  text-decoration: none;
}
nav .nav_right .search_stylish input:focus {
  background-color: #707070;
}
nav .nav_right .search_stylish button {
  border: none;
  background-color: #292929;
}

section {
  overflow: hidden;
}
section a {
  color: black;
}
section .main_section_grid h2 {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 0;
  max-width: 12ch;
}
section .main_section_grid ul {
  display: flex;
  margin: 0;
  padding: 0;
}
section .main_section_grid ul .li1 {
  padding-right: 20px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: white;
}
section .main_section_grid ul .li2 {
  padding: 0 20px 0 20px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: white;
}
section .main_section_grid ul .li3 {
  padding-left: 20px;
}
section .main_section_grid ul li {
  gap: 5px;
  display: inline-flex;
  align-items: center;
  flex-flow: row;
  list-style: none;
  white-space: nowrap;
  color: white;
}
section .main_section_grid .main_section_grid_element {
  color: white;
  font-weight: 700;
  background-size: cover;
  padding: 25px;
  display: flex;
  width: 100%;
  align-items: center;
}
section .main_section_grid .section_content {
  display: flex;
  justify-content: space-around;
}
section .main_section_grid .main_section_grid_element1 {
  grid-area: 1/1/2/2;
}
section .main_section_grid .main_section_grid_element2 {
  grid-area: 2/1/3/2;
}
section .main_section_grid .main_section_grid_element3 {
  grid-area: 1/2/3/3;
}
section .main_section_grid .main_section_grid_element4 {
  grid-area: 1/3/2/4;
}
section .main_section_grid .main_section_grid_element5 {
  grid-area: 2/3/3/4;
}
section .main_section_grid .main_section_grid_element1 {
  background-image: url(../images/section_bg_1.webp);
}
section .main_section_grid .main_section_grid_element1 .section_content {
  display: flex;
  justify-content: space-around;
}
section .main_section_grid .main_section_grid_element2 {
  background-image: url(../images/section_bg_2.webp);
}
section .main_section_grid .main_section_grid_element3 {
  background-image: url(../images/section_bg_3.webp);
}
section .main_section_grid .main_section_grid_element3 .section_content {
  display: flex;
  flex-flow: column;
  height: 100%;
}
section .main_section_grid .main_section_grid_element4 {
  color: #DE2F09;
  background-image: url(../images/section_bg_4.webp);
}
section .main_section_grid .main_section_grid_element4 h2 {
  color: #DE2F09;
}
section .main_section_grid .main_section_grid_element4 .section_content {
  align-items: center;
}
section .main_section_grid .main_section_grid_element4 .section_content p {
  max-width: 30ch;
}
section .main_section_grid .main_section_grid_element4 .button_box_container1 a {
  background-color: #DE2F09;
  color: white;
}
section .main_section_grid .main_section_grid_element5 {
  color: #3D81C0;
  background-image: url(../images/section_bg_5.webp);
}
section .main_section_grid .main_section_grid_element5 h2 {
  color: #3D81C0;
}
section .main_section_grid .main_section_grid_element5 .section_content {
  align-items: center;
}
section .main_section_grid .main_section_grid_element5 .button_box_container2 a {
  background-color: #3D81C0;
  color: white;
}
section .news {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 20px;
}
section .news h2 {
  font-size: 40px;
}
section .news .studies {
  display: flex;
  flex-flow: column;
}
section .news .actualities {
  display: flex;
  flex-flow: column;
  padding-right: 20px;
}
section .news .actualities .actualities_container {
  display: flex;
  flex-flow: row;
  gap: 20px;
}
section .news .actualities .actualities_container .actuality {
  max-width: 393px;
}
section .spoluprace {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 40px 0 40px 0;
  margin: 0 150px 0 150px;
}
section .spoluprace img {
  -o-object-fit: contain;
     object-fit: contain;
}
section .spoluprace .spoluprace_left {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}
section .spoluprace .spoluprace_right {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}
section .spoluprace .spoluprace_container {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
section .why_choose {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
section .why_choose h2 {
  font-size: 40px;
  margin: 150px 0 50px 0;
}
section .why_choose .bg {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}
section .why_choose .why_choose_container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-flow: column;
}
section .why_choose .container {
  margin: 0 150px 0 150px;
}
section .why_choose .why_choose_items {
  display: flex;
  margin-bottom: 150px;
  justify-content: space-between;
  flex-wrap: wrap;
}
section .why_choose .why_choose_item {
  max-width: 155px;
  display: flex;
  flex-flow: column;
}
section .why_choose .why_choose_item p {
  font-size: 18px;
  font-weight: 700;
}
section .why_choose .why_choose_image_container {
  display: flex;
  align-items: center;
  height: 79px;
}
section .why_choose .background_filter {
  position: absolute;
  background-color: #000000;
  width: 100%;
  height: 100%;
  filter: opacity(75%);
  z-index: 2;
}

footer {
  background-color: #707070;
  color: white;
  display: flex;
  flex-flow: column;
  gap: 50px;
  padding: 50px;
}
footer .footer_links_container {
  display: flex;
  flex-flow: row;
  gap: 50px;
}
footer .footer_element {
  display: flex;
  flex-flow: column;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
footer .footer_element a {
  margin: 16px 0 16px 0;
  display: flex;
  color: white;
}

@media only screen and (min-width: 1200px) and (max-width: 3680px) {
  .main_section_grid {
    display: grid;
    grid-template-columns: 45% 20% 35%;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .imager img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .number {
    font-size: 30px;
    color: #DE2F09;
  }
}
@media only screen and (max-width: 480px) {
  header {
    margin: 0;
    padding: 0;
    flex-flow: column;
    overflow-x: hidden;
  }
  header .header_left {
    gap: 5px;
    padding: 5px;
    justify-content: center;
  }
  header .header_left .logo {
    content: url(../images/dell.svg);
  }
  header .header_right {
    padding: 5px;
    margin: 0;
    justify-content: space-around;
  }
  header .header_right .contact img {
    height: 38px;
  }
  header .header_right .contact a {
    font-size: medium;
  }
  nav {
    position: relative;
    justify-content: center;
    flex-flow: column;
  }
  nav .nav_button_container {
    padding: 10px;
  }
  nav .nav_button_container .nav_button {
    transform: rotate(-90deg);
    transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    display: block;
    border: 0;
    background-color: #0D0D0D;
  }
  nav .nav_button_container .nav_button img {
    width: 30px;
  }
  nav .nav_button.focused {
    transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    transform: rotate(0deg);
  }
  nav .nav_container {
    transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    display: flex;
    position: absolute;
    background-color: #0D0D0D;
    width: 100%;
    top: 100%;
    transform: translateX(-100%);
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  nav .nav_container .nav_left {
    flex-flow: column;
    gap: 10px;
  }
  nav .nav_container .nav_left .reseni p {
    width: -moz-max-content;
    width: max-content;
  }
  nav .nav_container .nav_right {
    flex-flow: column;
    gap: 10px;
    padding: 5px 0 15px 0;
    margin: 0;
  }
  nav .nav_container .nav_right a.heart {
    padding: 0;
  }
  nav .nav_container.focused {
    transition: all 0.3s cubic-bezier(0.45, 0, 0.55, 1);
    transform: translateX(0);
  }
  section .main_section_grid {
    display: flex;
    grid-template-columns: 0;
    grid-template-rows: 0;
    flex-flow: column;
  }
  section .main_section_grid ul {
    flex-flow: column;
    flex-wrap: wrap;
  }
  section .main_section_grid ul li {
    padding: 0 !important;
    border-width: 0 !important;
    border-style: none !important;
  }
  section .main_section_grid .main_section_grid_element {
    padding: 50px;
  }
  section .news {
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  section .news img {
    max-width: 300px;
  }
  section .news .studies {
    padding: 50px 50px 0 50px;
  }
  section .news .actualities {
    padding: 0 50px 50px 50px;
  }
  section .news .actualities .actualities_container {
    flex-flow: column;
  }
  section .news .actualities .actualities_container .actuality {
    display: flex;
    flex-flow: column;
  }
  section .section_content .section_content_image {
    display: none;
  }
  section .why_choose .why_choose_container {
    padding: 50px 0 50px 0;
  }
  section .why_choose .why_choose_container .container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  section .why_choose .why_choose_container .container h2 {
    margin: 50px;
  }
  section .why_choose .why_choose_container .container .why_choose_items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0;
  }
  section .why_choose .why_choose_container .container .why_choose_items .why_choose_item {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  section .spoluprace {
    margin: 0;
    padding: 50px 0 50px 0;
    flex-flow: column;
    gap: 100px;
  }
  section .spoluprace h3 {
    text-align: center;
    font-size: 14px;
  }
  section .spoluprace .spoluprace_parent .spoluprace_container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  section .spoluprace .spoluprace_parent .spoluprace_container .spoluprace_image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  section .spoluprace .spoluprace_parent .spoluprace_container .spoluprace_image img {
    max-width: 150px;
  }
  footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  footer .footer_links_container {
    flex-flow: column;
  }
}